.card {
  background-color: white;
  border-radius: 18px;
  padding: 14px 22px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
}
