body {
  margin: 0px;
  background-image: linear-gradient(135deg, #bd77e8 10%, #7a4dbf);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
label,
input {
  font-family: Inter, sans-serif;
}

h1 {
  color: black;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  margin-left: 4px;
  background-color: #7c3ff6;
  cursor: pointer;
}

button:hover {
  background-color: #8447fc;
}
